body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: none;
}

.wrapper {
  display: grid;
  /* grid-template-columns: 5fr; */
  align-items: center;
  /* flex-direction: column; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  width: auto;
  height: 45rem;
  margin: 1rem auto;
  /* padding: 2rem; */
  /* border-radius: 1rem; */
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); */
}

.break-wrapper,
.session-wrapper,
.session-display {
  text-align: center;
  flex: 0 0 100%;
  /* width: 76%; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* background-color: red; */
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); */
  /* margin: 2rem; */
  width: 400px;
}

.box-lable {
  /* background-color: rgba(0, 0, 0, 0.11); */
  font-size: 2rem;
  font-weight: 200;
  border-bottom: solid gray 0.1rem;
  border-radius: 0.3rem;
}
.time-display {
  font-size: 2.25rem;
  font-weight: 650;
  /* background-color: red; */
  /* padding: .3em; */
  margin: 1rem;
}
.fa {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: end; */
  /* flex-direction: row; */
  width: 5rem;
  height: 3rem;
  margin: .75rem;
  /* padding: .2rem; */
  border: none;
  border-radius: 0.4rem;
}
.levelTwo {
  font-size: 1rem;
}
.levelOne {
  font-size: 1.25rem;
}
