.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 1em;
  width: 100%;
}

.Session, .SessLength, .BreakLength {
  font-size: 25px;
  grid-row: 1/-1;


  border: solid rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 5px rgba(0, 0, 0, .01);
  border-radius: 1em;
}

.btnContainer {
  display: flex;
  align-items: center;
  width: 100%;

}

.timer-label {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#session-length, #time-left, #break-length {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  border-radius: 1em;
  width: 100%;
  color: rgba(0, 0, 0, .8);
}
.box-lable {
  margin: .1em;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  border-radius: 1em;
  width: 100%;
  /* box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.09); */
}

.fa {
  width: 5rem;
  height: 3rem;
  margin: 0.75rem;
  border: none;

  border-top: solid rgba(0, 0, 0, 0.1) 0.25rem;
  border-radius: 1rem;
}
